<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>MyBookstore</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link href="/css/style.css" rel="stylesheet">
</head>

<body>
<!-- NAVBAR -->
		<div th:fragment="navbar">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<img alt="logo" src="/images/logo.png">
      <a class="navbar-brand" href="#" style="padding-left:10px;">My Bookstore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <form class="form-inline"> 
          <input class="form-control mr-sm-2" style="border-color: #FF1493;" type="search" placeholder="Search" aria-label="search">
          <button class="btn btn-outline-info btn-dark" type="submit" style="padding:5px;">Search</button>
        </form>
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-success" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu bg-warning" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="#">Browse the Bookshelf</a>
              <a class="dropdown-item" href="#">Store hours &#38; Directions</a>
              <a class="dropdown-item" href="#">FAQ</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        	<li><a class="nav-link" href="#">ShopingCart</a></li>
        	<li><a class="nav-link" href="myAccount">MyAccount</a></li>
        	<li><a class="nav-link" href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
</div>

	<div th:fragment="body-bottom-scripts">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</div>
</body>
</html>