
.container{
	width: 90%;
}
.hr {
	border: none;
	height: 1px;
	color: #333;
	background-color: #333;
}

.navbar {
	margin-bottom: 20px;
}

.box {
	border: 1px solid #ff0080;
}
.page-top {
	margin-top: -70px;
}
.section-headline {
	font-family: 'times New Roman' , Times, serif;
	font-size:40px;
	color: rgb(255, 0, 128);
	margin: auto;
	padding-left:20px;
	text-align: center;
}



