
.container{
	width: 90%;
}
.hr {
	border: none;
	height: 1px;
	color: #333;
	background-color: #333;
}

.navbar {
	margin-bottom: 20px;
}

.box {
	border: 1px solid red;
}
.page-top {
	margin-top: -70px;
}
.section-headline {
	font-family: 'times New Roman' , Times, serif;
	font-size:40px;
	color: #c0c0c0;
	margin: auto;
	padding-left:20px;
	text-align: center;
}
.Userspan {
	background-color: #231F20;
	padding: 5px 22px;
	border-radius: 80%;
}



