<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<!-- NAVBAR -->
	<div th:replace="common/header :: navbar" />

	<!--My Account  -->
	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span class="Userspan">User Account</span>
				</h2>
			</div>
			<div class="col d-flex justify-content-end">
				<img src="https://raw.githubusercontent.com/BenjaminMustafa/MyBookstore/master/src/main/resources/static/images/logo2.png" class="pull-right"
					alt="Responsive image" style="padding-right: 20px;">
			</div>
		</div>

		<img src="https://raw.githubusercontent.com/BenjaminMustafa/MyBookstore/master/src/main/resources/static/images/wood.jpg" alt="Responsive image"
			style="margin-top: -75px; z-index:-1;" class="img-fluid"/>

		<div class="row" style="margin-top: 60px;" >
			<div class="col-md-6 offset-md-3">

				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}? 'active'" class="nav-item"><a class="nav-link active" href="#tab-1"
						data-toggle="tab"><span style="color: #ff0080;">Create new
								account</span></a></li>
					<li th:classappend="${classActiveLogin}? 'active'" class="nav-item"><a class="nav-link" href="#tab-2"
						data-toggle="tab"><span style="color: #ff0080;">Log in</span></a></li>
					<li th:classappend="${classActiveForgetPassword}? 'active'" class="nav-item"><a class="nav-link" href="#tab-3"
						data-toggle="tab"><span style="color: #ff0080;">Forget
								Password</span></a></li>
				</ul>
				<div class="tab-content">
				
					<!--Create new User -->
					<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="newUsername">* Username</label> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282;">Enter your username here.</p>
										</div>
										<div class="form-group">
											<label for="email">* Email Address</label> <input
												required="required" type="text" class="form-control"
												id="email" name="email" />
											<p style="color: #828282;">Enter your email here.</p>
										</div>
										<button type="submit" class="btn btn-primary">Create
											new account</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--Log in -->
					<div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="newUsername">* Username</label> <input
												required="required" type="text" class="form-control"
												id="newUsername" name="username" />
											<p style="color: #828282;">Enter your username here.</p>
										</div>
										<div class="form-group">
											<label for="password">* Password</label> <input
												required="required" type="password" class="form-control"
												id="password" name="password" />
											<p style="color: #828282;">Enter your password that accompanies your ussername</p>
										</div>
										<button type="submit" class="btn btn-primary">Log in</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--Forgot password -->
					<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="recoverEmail">* Enter your your email here</label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282;">Enter your email here.</p>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>