<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
	<!-- NAVBAR -->
	<div th:replace="common/header :: navbar" />

	<!--My Account  -->
	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline"><span th:text="${#strings.toUpperCase{user.username}}"></span></h2>
				</h2>
			</div>
			<div class="col d-flex justify-content-end">
				<img src="https://raw.githubusercontent.com/BenjaminMustafa/MyBookstore/master/src/main/resources/static/images/logo2.png" class="pull-right"
					alt="Responsive image" style="padding-right: 20px;">
			</div>
		</div>

		<img src="https://raw.githubusercontent.com/BenjaminMustafa/MyBookstore/master/src/main/resources/static/images/wood.jpg" alt="Responsive image"
			style="margin-top: -75px; z-index:-1;" class="img-fluid"/>

		<div class="row" style="margin-top: 60px;" >
			<div class="col-md-6 offset-md-3">

				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveEdit}? 'active'" class="nav-item"><a class="nav-link active" href="#tab-1"
						data-toggle="tab"><span style="color: #ff0080;">Edit</span></a></li>
					<li th:classappend="${classActiveOrders}? 'active'" class="nav-item"><a class="nav-link" href="#tab-2"
						data-toggle="tab"><span style="color: #ff0080;">Orders</span></a></li>
					<li th:classappend="${classActiveBilling}? 'active'" class="nav-item"><a class="nav-link" href="#tab-3"
						data-toggle="tab"><span style="color: #ff0080;">Billing</span></a></li>
					<li th:classappend="${classActiveShipping}? 'active'" class="nav-item"><a class="nav-link" href="#tab-3"
						data-toggle="tab"><span style="color: #ff0080;">Shiping</span></a></li>
				</ul>
				<div class="tab-content">
				
					<!--Edit user information -->
					<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveEdit}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" th:value="${user.id}">
										
										<div class="bg-info" th:if="${updateUserInfo}">User info updated.</div>
										
										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="firstName">First Name</label>
													<input type="text" class="form-control" 
													id="firstName" name="firstName" th:value="${user.firstName}"/>
												</div>
												<div class="col-xs-6">
													<label for="lastName">Last Name</label>
													<input type="text" class="form-control" 
													id="lastName" name="lastName" th:value="${user.lastName}"/>
												</div>
											</div>
										</div>
										
										<div class="form-group">
											<label for="userName">User Name</label>
												<input type="text" class="form-control" 
												id="userName" name="userName" 
												th:value="${user.userName}"/>
										</div>
										<div class="form-group">
											<label for="currentPassword">Current Password</label>
												<input type="password" class="form-control" 
												id="currentPassword" name="currentPassword" 
												th:value="${currentPassword}"/>
										</div>
										<p style="color:#828282">Enter your current password to change the email address or password</p>
										<div class="form-group">
											<label for="email">* Email Address</label>
												<input type="email" class="form-control" 
												id="email" name="email" 
												th:value="${user.email}"/>
										</div>
										<p style="color:#828282">A valid email address. 
										All emails from the system will be sent to this address. 
										the email address is not made punlic and will onnly be 
										used if you wish to recive a new password or wish to recive 
										certain notification</p>
										
										<div class="form-group">
											<label for="txtNewPassword">* Password</label>
												<input type="password" class="form-control" 
												id="txtNewPassword" name="newPassword" />
										</div>
										<div class="form-group">
											<label for="txtConfirmPassword">* Confirm Password</label>
												<input type="password" class="form-control" 
												id="txtConfirmPassword" />
										</div>
										<p style="color:#828282">To change the current user password, enter the new password in bouth fields.</p>
										
										<button type="submit" class="btn btn-primary">Create
											new account</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					
					<!--Forgot password -->
					<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form>
										<div class="form-group">
											<label for="recoverEmail">* Enter your your email here</label> <input
												required="required" type="text" class="form-control"
												id="recoverEmail" name="email" />
											<p style="color: #828282;">Enter your email here.</p>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>